<!DOCTYPE html>
<html lang="en">

  <%- include('head_section.ejs') %>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto">
        <a href="/index" class="logo mr-auto"><img src="assets/img/bank.png" alt="" class="img-fluid"></a>
        <a href="/index">Moratorium Bank</a>
      </h1>
      
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/home">Home</a></li>
          <li class="active"><a href="#">Personal</a></li>
          <li><a href="#mor">Moratorium</a></li>
          <li><a href="#updateSection">My Profile</a></li>
          
        </ul>
      </nav><!-- .nav-menu -->

      <a href="/logout" class="get-started-btn scrollto">Log Out<img src="assets/img/log-out.png" alt="" class="img-fluid"></a>

    </div>
  </header><!-- End Header -->
  <% if (state) { %>
    <script>successAlert('Welcome ',' Login Successful !')</script>
    <% } %>
  <!-- ======= Hero Section ======= -->
 <section id="hero1" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <% if (result.length >0){ %>
            <% result.forEach(function(row){ %>
          <h1 style="font-family: 'Chango', cursive; color:cornsilk"><b>Welcome,  <%= row.username%></b> </h1>   
          <%})} %>       
          <div>
            <% if (status) { %>
              <button type="button" class="btn btn-success" disabled style="width:auto; height: auto;"><i class="bi bi-person-check-fill"></i>&nbsp;Profile Completed!</button>
              
              <%} else { %>
                <a href='#updateSection'><button type="button" class="btn btn-warning" ><i class="bi bi-person-x-fill"></i>&nbsp;Incomplete Details</button></a>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->
  
  <%- include('links_scripts.ejs')%>
  

    <!-- ======= Update Section ======= -->
  <main id="main">
   

  </main><!-- End #main -->
 
  <section id='mor'>
    <div class="section-title">
      <h2>My Moratorium</h2>
    </div>
  <table class="responstable" id='tbl'>
    <tr>
      <th data-th="Details"><span>Loan Name</span></th>
      <th>Account No.</th>
      <th>Loan No.</th>
      <th>DOI</th>
      <th>Period</th>
      <th>Status</th>
    </tr>
    <% if(details!=null){%>
    <% details.forEach(function(item){ %>
    <tr>
      <td><%= item.loan_name %></td>
      <td ><%= item.acc_no%></td>
      <td ><%= item.loan_no %></td>
      <td><%= item.date_time %></td>
      <td><%=item.period%></td>
      <td ><%= item.status%></td>

    </tr>
    <% }) %>
  </table>
  <% } %>
  </section>

 
<!-- my profile  -->
<section id='updateSection'>
  <div class="section-title">
    <h2>My Profile</h2>
  </div>
  <% if (result.length >0){ %>
    <% result.forEach(function(row){ %>
  <div class="col-sm-12 row align-items-center">
    <div class="card mb-12">
      <div class="card-body">
        
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <input type='text' class='w3-input' value='<%= row.name %>' placeholder="Update Information!" disabled/>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Address</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <input type='text' class='w3-input' value='<%= row.address %>' placeholder="Update Information!" disabled/>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Mobile No</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <input type='text' class='w3-input' value='<%= row.mobile %>' placeholder="Update Information!" disabled/>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Aadhar</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <input type='text' class='w3-input' value='<%= row.aadhar %>' placeholder="Update Information!" disabled/>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Bank Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <input type='text'  class='w3-input' value='<%= row.bank_name %>' placeholder="Update Information!" disabled/>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Account No.</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <input type='text' class='w3-input' value='<%= row.moratorium_acc %>' placeholder="Update Information!" disabled/>
          </div>
        </div>
        <% })} %> 
    <br><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display: block; margin: 0 auto;">Update Me!</button>

      </div>
    </div>
  </section>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal Update Form content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">My Profile Information</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-style-1" style="overflow: auto; text-align: center; display: block;">
            <form id='myform' action='/update' method='POST' enctype="application/x-www-form-urlencoded" >
            <div class="group"> <label for="user" class="label" >Name <span class="required">*</span></label> <input id="updatename" name='update_name' type="text" class="input" placeholder="Enter Full Name" required> </div><br>
            <div class="group"> <label for="pass" class="label">Mobile No. <span class="required">*</span></label> <input id="mobile" name="update_mobile" type="text" class="input" pattern="[7-9][0-9]{9}" placeholder="Enter Mobile No."  required> </div><br>
            <div class="group"> <label for="pass" class="label">Aadhar No. <span class="required">*</span></label> <input id="aadhar" name="update_aadhar" type="text" class="input" pattern="^\d{4}\d{4}\d{4}$" placeholder="Enter Aadhar No."  required> </div><br>
            <div class="group"> <label for="pass" class="label">Bank Name <span class="required">*</span></label> <input id="bank" name="update_bank" type="text" class="input" placeholder="Enter Bank Name" required> </div><br>
            <div class="group"> <label for="pass" class="label">Moratorium Account No. <span class="required">*</span></label> <input id="acc" name="update_acc" type="text" pattern="^\d{9,18}$" class="input" placeholder="Enter Moratorium Account No." required> </div><br>
            <div class="group"> <label for="pass" class="label">Address <span class="required">*</span></label> <input id="update_address" name="update_address" type="text" class="input" placeholder="Enter Address" required> </div><br>
            <div class="group"> <label for="pass" class="label">DOB <span class="required">*</span></label> <input id="bank" name="update_dob" type="date" class="input" placeholder="Enter Date of Birth" required> </div><br>           
            <div class="group"> <input id='register' class='btn btn-dark' type='submit' style="display: block; margin: 0 auto;" value="Update !" ></div>
            </form>        
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
     
    </div>
  </div>

  <!-- End Modal content  -->
<!-- End Display information of mortorium modal -->
    <!-- Chatbot Section -->
    <%- include('chatbot_section.ejs')%>
    <!-- End Chatbot Section -->
  <!-- ======= Footer ======= -->
 
    <!-- ======= Footer ======= -->
    <footer id="footer">

      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h3>Moratorium Bank</h3>
              <p>
                Pune<br><br>
                <strong>Phone:</strong> +91 8457152365<br>
                <strong>Email:</strong> moratorium@mail.com<br>
              </p>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="/home">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/home#about">About us</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Chatbot</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/home#calculator">Calculator</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/home#news">News</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/home#news">Notifications</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Social Networks</h4>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Moratorium Bank</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- End Footer -->
</body>

</html>